//Colors
$primary: #7F56D9;
$secondary: #3E4784;
$danger: #D92D20;
$warning: #DC6803;
$gray: #475467;
$success: #039855;
$info: #088AB2;
$white: #fff;

// Border radius
$default-border-radius: 4px;

:export {
  primary: $primary;
  secondary: $secondary;
  danger: $danger;
  warning: $warning;
  gray: $gray;
  success: $success;
  info: $info;
  white: $white;
}